* {
    /* m0+p0+bx+ff */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

/* 橫幅 */
#banner {
    width: 100%;
    /* vh 為螢幕高度  */
    height: 100vh;
    background-image: url(./img/banner.jpg);
    /* 背景-尺寸：填滿(cover) - 50% 、500px */
    background-size: cover;
    color: white;
    /* 背景附著效果：固定 */
    background-attachment: fixed;
}
/* 首頁、關於我 導覽列 */
#banner nav, #banner-about nav, #banner-contact {
    padding: 30px;

    
}

body {
    background: #dfdfdf;
    height: 100vh;
}

/* 連結 */
#banner a, #banner-about a, #banner-contact a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 0 30px;
    transition: 0.3s;
}

/* 連結：滑入 */
#banner a:hover, #banner-about a, #banner-contact a:hover {
    color: #aaa;
}

#banner p {
    /*text-alig 為文字、行內 專用 */
    text-align: center;
    margin-top: 300px;
    /* 透明度：值 - 0 ~ 1  */
    opacity: 0.7;
    font-size: 20px;
    padding: 30px;
}

#banner hr {
    width: 300px;
    opacity: 0.7;
    margin: 0 auto;
    
}

#banner h1 {
    text-align: center;
    font-size: 72px;
    padding: 30px;
}


/* 最新消息 */
#news {
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
    /* 格線 */
    display: grid;
    /* 橫向分隔 */
    grid-template-columns:1fr 1fr ;
    /* 格線間隙 */
    grid-gap: 50px;
    padding: 150px 0;
    text-align: center;

}

#news > div {
    background: white;
}

#news h3 {
    color: #333333;
}

#news p {
    padding: 30px;
    /* 行段靠左 */
    text-align-last: left;
    /* 行高 */
    line-height: 1.5;
}

#news #news-left {
    height: 300px;
    background-image: url(./img/left.jpg);
}

#news #news-right {
    height: 300px;
    background-image: url(./img/right.jpg);
}

a.button, input[type=reset], input[type=submit] {
    text-decoration: none;
    color: #aaa;
    border: 1px solid #aaa;
    padding: 15px 80px;
    transition: 0.5s;
}

a.button:hover, input[type=reset]:hover, input[type=submit]:hover {
    color: white;
    background: #aaa;
}


    /* 盒子區塊 */
#box {
    background-image: url(./img/box-img.jpg);
    background-attachment: fixed;
}

#box h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    padding: 100px 0;
/* 背景濾鏡  */
    backdrop-filter: blur(5px);
    letter-spacing: 10px;
/* 文字寬度 */
    font-weight: 100;
}


/* 關於我&聯絡我 */

#content {
    width: 1200px;
    margin: 0 auto;
}

#content div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

#content a {
    height: 350px;
    /* 行高 - 高度  垂直置中(僅限於一行文字) */
    line-height: 350px;
    text-decoration: none;
    color: white;
    font-size: 32px;
    text-align: center;
}

#content a span {
    /* span 將此改完區塊元素:做填滿效果 */
    display: block;
    backdrop-filter: blur(5px) opacity(80%);
    transition: 0.5s;
}

#content a span:hover {
    backdrop-filter: blur(5px) opacity(20%);

}

#content #about {
    background-image: url(./img/delaney-van-Hvrm3efPYIA-unsplash.jpg);
}

#content #contact {
    background-image: url(./img/jade-seok-inR39rZtD1w-unsplash.jpg);
}

/* 地圖 */
#map {
    width: 100%;
    height: 350px;
    margin-top: 200px;
}

/* 頁尾 */
footer {
    background: #252525;
    text-align: center;
    padding: 100px 0;
    color:white;
}


footer #icon a {
    padding: 20px;
    /* 濾鏡 */
    filter: opacity(100%);
    transition: 0.5s;
}

footer #icon a:hover {
    filter: opacity(10%);
}

footer h2 {
    font-weight: 100;
    letter-spacing: 10px;
    padding-left: 10px;
    padding: 20px 0;
}

footer p {
    padding: 10px;
    font-size: 10px;
    color: #AAA;
}

footer h2 a {
    text-decoration: none;
    color: white ;
    transition: 0.5s;
}

footer h2 a:hover {
    text-decoration: none;
    color: rgb(173, 238, 211);
}

/* 關於我分頁 */

#banner-about {
    width: 100%;
    /* vh 為螢幕高度  */
    height: 40vh;
    background-image: url(./img/about.jpg);
    /* 背景-尺寸：填滿(cover) - 50% 、500px */
    background-size: cover;
    color: white;
    /* 背景附著效果：固定 */
    background-attachment: fixed;
}

#banner-about nav {
    backdrop-filter: opacity(30%);
}

#banner-about h2, #banner-contact h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 30px;
    padding-top: 30px;
    padding-left: 20px;
    line-height: 20vh;
    backdrop-filter: opacity(30%);
    height: 50vh;
    font-size: 72px;
   
}

#about-content {
    width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    margin-top: 100px;
}

#about-content h3 {
    text-align: center;
    padding: 20px;
    color: #ddd;
    letter-spacing: 10px;
    padding-left: 10px;
    font-weight: 100;
    text-transform: uppercase;
}

#about-content hr {
    width: 600px;
    margin: 0 auto;

}

#about-content h1 {
    text-align: center;
    padding: 40px;
}

#about-content #about-1 {
    height: 400px;
    background-image: url(./img/about-1.jpg);
    background-size: cover;
}

#about-content #about-2 {
    height: 400px;
    background-image: url(./img/about-2.jpg);
    background-size: cover;

}

#about-content #about-3 {
    height: 400px;
    background-image: url(./img/about-3.jpg);
    background-size: cover;

}

#about-content p {
    padding: 30px 0;
    line-height: 1.5;
    color: #888;

}

/* 聯絡我 */
#banner-contact {
    width: 100%;
    /* vh 為螢幕高度  */
    height: 40vh;
    background-image: url(./img/stanislav-kondratiev-3YsctnmJ2m8-unsplash.jpg);
    /* 背景-尺寸：填滿(cover) - 50% 、500px */
    background-size: cover;
    color: white;
    /* 背景附著效果：固定 */
    background-attachment: fixed;
}

/* 表單 */
#form-self {
    width: 1200px;
    padding: 50px 80px;
    background: #f6f6f6;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 100px auto 150px;
}

#form-self #name, #form-self #email, #form-self #message {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 15px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#form-self ::placeholder {
    color: #ddd;
}

#form-self #buttons {
    text-align: center;
}

#form-self #buttons input {
    margin: 20px 30px;
    cursor: pointer;
    font-size: 16px;
}